body,html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 18px;
}
.header{
    text-align: center; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    background: #005FB8; 
    margin-left: auto; 
    margin-right: auto; 
    width: 30%;
    padding: 5px 20px;
    text-shadow: 1px 1px 2px #000; 
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 0 3px 5px #00000080;
    color: white;
}
